//========================================
// SECTION Budgets
//========================================
.right-side {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  width: 43%;
}

.budgets-section {
  padding-bottom: $spacing-xl;
}

.budgets {
  display: flex;
  gap: $spacing-xl;
  padding: $spacing-xl 0;

  @include mobile {
    flex-direction: column;
  }

  // Diagramm
  &__chart {
    //flex: 0 0 250px;

    @include mobile {
      flex: 1;
    }
  }

  // List budgets
  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }
}

// Donut diagramm
.donut-chart {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;

  &__svg {
    width: 100%;
    height: auto;
  }

  &__shape-head {
    /* Shape head*/

    position: absolute;
    width: 187.5px;
    height: 187.5px;
    left: calc(50% - 187.5px / 2 - 0.25px);
    top: calc(50% - 187.5px / 2 - 0.25px);

    background: #ffffff;
    opacity: 0.25;
    border-radius: 50%;

  }

  &__shape {
    /* Shape */

    position: absolute;
    width: 162px;
    height: 162px;
    left: calc(50% - 162px / 2 + 0px);
    top: calc(50% - 162px / 2 + 0px);
    background: #ffffff;
    border-radius: 50%;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__amount {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    color: $color-text-primary;
    margin-bottom: $spacing-xs;
  }

  &__label {
    font-size: $font-size-xs;
    color: $color-text-secondary;
  }
}

// Элемент бюджета
.budget-item {
  @include flex-start;
  gap: $spacing-md;
  border-radius: $radius-sm;
  transition: background-color $transition-fast;

  &__color {
    width: 4px;
    height: 40px;
    border-radius: $radius-sm;
    flex-shrink: 0;
    background-color: $color-accent;

    &[data-state='bills'] {
      background-color: $color-secondary;
    }

    &[data-state='dining'] {
      background-color: $color-warning;
    }

    &[data-state='personal'] {
      background-color: $color-text-secondary;
    }

  }

  &__text {
    display: flex;
    flex-direction: column;
  }


  &__name {
    flex: 1;
    font-size: $font-size-xs;
    color: $color-text-secondary;
    font-weight: $font-weight-regular;
    line-height: 150%;
  }

  &__amount {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    color: $color-text-primary;
    line-height: 150%;
  }
}
