//========================================
// SECTION Pots
//========================================


.left-side {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  width: 55%;
}

.pots {
  display: flex;
  gap: $spacing-3xl;

  @include mobile {
    flex-direction: column;
  }

  &__summary {
    @include flex-start;
    gap: $spacing-md;
    padding: 1.3rem 5.6rem $spacing-md 1.3rem;
    background-color: $color-bg-light;
    border-radius: $radius-md;
  }

  &__icon svg {
    width: 40px;
    height: 40px;
    color: $color-success;
  }

  &__total {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
    color: $color-text-secondary;
    margin-bottom: $spacing-xs;
  }

  &__amount {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
  }

  // List saving
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-md $spacing-xl;
    flex: 1;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.pots-item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: $spacing-xs;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    left: -$font-size-base;
    top: 0;
    border-left: 4px;
    border-left-style: solid;

    border-radius: 8px;
    box-sizing: border-box;

  }

  &[data-state='saving']::before {
    border-left-color: $color-success;
  }

  &[data-state='gift']::before {
    border-left-color: $color-secondary;
  }

  &[data-state='ticket']::before {
    border-left-color: $color-text-secondary;
  }

  &[data-state='laptop']:before {
    border-left-color: $color-warning-secondary;
  }

  &__name {
    font-size: $font-size-xs;
    color: $color-text-secondary;
  }

  &__amount {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    color: $color-text-primary;
  }
}